__pycache__
__pycache__/*
Parabolic_Problem/__pycache__
Parabolic_Problem/__pycache__/*
Boundary_Value_Problem/__pycache__
Boundary_Value_Problem/__pycache__/*

BAK
BAK/*
References
References/*

*.mp4
*~
